**/serverless-output.*
**/.DS_Store
temp/
.DS_Store
**/.vscode/
**/build/
**/dist/
**/*.pyc
**/.vscode
**/*_cache
**/*pycache
*coverage*
venv/
**/.terraform
**/.terraform*
**/*.tfstate*
dependencies/
packages/
**/__pycache*
**/builds